* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: "Geist";
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  grid-template-rows: repeat(6, auto);
  overflow: scroll;
  scrollbar-gutter: auto;
  overflow-x: hidden;
}


.header {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(251, 235, 246);
}

.navigation-bar {
  display: grid;
  grid-template-columns: 200px minmax(0px, 800px) repeat(4, auto);
  font-size: 0.9rem;
  align-items: center;
  padding: 5px;
  text-align: center;
  justify-content: center;
}

#nav-name {
  text-decoration: none;
  padding: 10px;
  color: black;
}

.nav-links {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 5px;
  font-weight: 600;
  transition: padding-top 0.2s;
}

.nav-links:hover {
  text-decoration: underline;
  padding-top: 0px;
}

.title-section {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 150px;
}

.title-section h1 {
  font-size: 4rem;
  font-weight: 800;
  padding: 10px;
}

.title-section p,
.projects-section p,
.skills-section p,
.contact-section p {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.title-section button {
  margin-top: 20px;
  padding: 7px;
  border-radius: 15px;
  border: 1px solid black;
}

.title-section button:hover {
  background-color: black;
  color: white;
}

.about-section {
  justify-content: center;
  justify-items: center;
  padding: 60px 0px 60px 0px;
}

.about-elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 600px));
  justify-content: center;
  justify-items: center;
}

.about-me-text {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.about-me-text h2,
.projects-section h2,
.skills-section h2,
.contact-section h2 {
  font-size: 2.5rem;
  font-weight: 800;
}

.about-me-text p {
  font-size: 1.2rem;
  padding-top: 20px;
}

.about-me-image {
  height: 350px;
  width: 350px;
  border: 2px solid black;
  border-radius: 40px;
  align-content: center;
  text-align: center;
}

.projects-section {
  text-align: center;
  padding: 60px 0px 60px 0px;
}

.projects-section p,
.skills-section p,
.contact-section p {
  padding-top: 10px;
}

.project-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 0fr));
  justify-items: center;
  gap: 30px;
  justify-content: center;
}

.project-container {
  height: 350px;
  width: 350px;
  border: 2px solid black;
  margin-top: 40px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 15px;
  border-radius: 40px;
  transition: margin-top 0.5s;
}

.project-container:hover {
  margin-top: 20px;
  cursor: pointer;
}

.project-image {
  height: 100%;
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 30px;
}

.project-text {
  padding: 20px;
  text-align: start;
}

.project-text p,
.skill-card p {
  font-size: 1rem;
  color: gray;
}

.skills-section {
  text-align: center;
  padding: 60px 0px 60px 0px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.skill-card {
  height: auto;
  width: 300px;
  border-radius: 30px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.skill-card svg {
  width: 60%;
}

.contact-section {
  text-align: center;
  padding: 60px 0px 60px 0px;
  background-color: rgb(245, 244, 244);
}

.contact-section form {
  justify-content: center;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: repeat(3, auto);
  gap: 15px;
  margin-top: 30px;
}

.contact-section input,
.contact-section textarea {
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid grey;
}

#message-area {
  height: 140px;
}

.footer-section {
  padding: 20px;
  background-color: rgb(245, 244, 244);
  text-align: start;
  color: rgb(110, 108, 108);
}

@font-face {
  font-family: "Geist";
  src: local("GeistRegular"),
    url("./fonts/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Geist";
  src: local("GeistBold"), url("./fonts/Geist-Bold.ttf") format("truetype");
  font-weight: 1000;
}

@font-face {
  font-family: "Geist";
  src: local("GeistMedium"), url("./fonts/Geist-Medium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Geist";
  src: local("GeistSemiBold"),
    url("./fonts/Geist-SemiBold.ttf") format("truetype");
  font-weight: 800;
}
