* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: "Geist";
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
}

main {
  display: grid;
  grid-template-rows: repeat(4, auto) 40px;
  overflow: scroll;
  scrollbar-gutter: auto;
}

.header {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(251, 235, 246);
}

.navigation-bar {
  display: grid;
  grid-template-columns: 200px minmax(0px, 800px) repeat(4, auto);
  font-size: 0.9rem;
  align-items: center;
  padding: 5px;
  text-align: center;
  justify-content: center;
}

.navigation-bar h2 {
  padding: 10px;
}

.navigation-bar a {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 5px;
  font-weight: 600;
  transition: padding-top 0.5s;
}

.navigation-bar a:hover {
  text-decoration: underline;
  padding-top: 0px;
}

.title-section {
  margin-top: 150px;
  margin-bottom: 150px;
}

.title-section h1 {
  font-size: 4rem;
  font-weight: 800;
  padding: 10px;
}

.title-section p,
.projects-section p {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.title-section button {
  margin-top: 20px;
  padding: 7px;
  border-radius: 15px;
  border: 1px solid black;
}

.title-section button:hover {
  background-color: black;
  color: white;
}

.about-section {
  display: grid;
  grid-template-columns: minmax(auto, 900px) auto;
  justify-content: center;
  justify-items: center;
  margin-top: 60px;
}

.about-me-text {
  padding: 40px;
}

.about-me-text h2,
.projects-section h2 {
  font-size: 2.5rem;
  font-weight: 800;
}

.about-me-text p {
  font-size: 1.1rem;
  padding-top: 20px;
}

.about-me-image {
  height: 350px;
  width: 350px;
  border: 2px solid black;
  border-radius: 40px;
  align-content: center;
  text-align: center;
}

.projects-section {
  justify-items: center;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.projects-section p {
  padding-top: 10px;
}

.project-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  grid-auto-flow:row;
  margin: 0px 150px 0px 150px
}

.project-container {
  height: 350px;
  width: 350px;
  border: 2px solid black;
  margin-top: 40px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 15px;
  border-radius: 40px;
  transition: margin-top 0.5s;
}

.project-container:hover {
  margin-top: 20px;
  cursor: pointer;
}

.project-image {
  height: 100%;
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 30px;
}

.project-text {
  padding: 20px;
  text-align: start;
}

@font-face {
  font-family: "Geist";
  src: local("GeistRegular"),
    url("./fonts/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Geist";
  src: local("GeistBold"), url("./fonts/Geist-Bold.ttf") format("truetype");
  font-weight: 1000;
}

@font-face {
  font-family: "Geist";
  src: local("GeistMedium"), url("./fonts/Geist-Medium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Geist";
  src: local("GeistSemiBold"),
    url("./fonts/Geist-SemiBold.ttf") format("truetype");
  font-weight: 800;
}
